<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple_ui_ux">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleUiUx">
        <activity
            android:name=".menus.Menu_Activity_14"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_13"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_12"
            android:exported="true" />
        <activity
            android:name=".profile.Profile_Activity_2"
            android:exported="true" />
        <activity
            android:name=".profile.Profile_Activity_1"
            android:exported="true" />
        <activity
            android:name=".profile.Profile_MainActivity"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_11"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_10"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_9"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_8"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_10"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_9"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_7"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_8"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_8"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_7"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_6"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_5"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_4"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_3"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_6"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_7"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_5"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_6"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_4"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_5"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_2"
            android:exported="true" />
        <activity
            android:name=".menus.MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".menus.Menu_Activity_1"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_3"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_4"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_2"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_3"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_2"
            android:exported="true" />
        <activity
            android:name=".signup.MainSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".login.MainLoginActivity"
            android:exported="true" />
        <activity
            android:name=".login.Login_Activity_1"
            android:exported="true" />
        <activity
            android:name=".signup.SignUp_Activity_1"
            android:exported="true" />
        <activity
            android:name=".MainActivityUi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>